@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

body {
  font-family: "Do Hyeon", sans-serif;
}

.lista_itens {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card_item {
  border: 1px solid #c2c2c2;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgb(32 33 36/ 28%);
}

img {
  border-radius: 10px;
}
